<div class="left-border">
  <p ><%= @question %></p>
  <p class="italic">-You</p>
</div>

<div class="left-border background">
  <p class= "bolder"><%= @answer %></p>
  <p class= "italic">-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
