<form action="/answer" method="get">
  <label for="#">Ask your coach anything:</label>
  <br>
  <input class="input" type="text" name="question">
  <input class="input blue" type="submit" value="Ask!">
</form>
